[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
packaging = "==20.0"
pipenv-setup = "==3.1.4"
pyyaml = "*"
sqlalchemy = ">=1.3,<2"
timesheet = {editable = true, path = "."}
toml = "*"
vistir = "<0.7"

[dev-packages]
black = "*"
flake8 = "*"
ipython = "*"
pdbpp = "*"
pylint = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.9"
