[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pipenv-setup = "*"
pyyaml = "*"
sqlalchemy = "*"
timesheet = {editable = true, path = "."}
toml = "*"

[dev-packages]
black = "21.12b0"
flake8 = "*"
ipython = "*"
pdbpp = "*"
pylint = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.9"
